<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder class="com.github.danielwegener.logback.kafka.encoding.LayoutKafkaMessageEncoder">
            <layout class="net.logstash.logback.layout.LogstashLayout"> <!-- JSON layout -->
                <customFields>{"app":"your-app-name"}</customFields>
            </layout>
        </encoder>
        <topic>logs-topic</topic>
        <producerConfig>bootstrap.servers=localhost:9092</producerConfig>
    </appender>

    <root level="INFO">
        <appender-ref ref="KAFKA" />
    </root>
</configuration>